@use "global" as *;

.blogs{
  margin-top: rem(40);
}

.blogs__lists{
  margin-top: rem(62);
  @include mq(){
    margin-top: rem(64);
  }
}

.blogs__item:nth-child(n+2){
  margin-top: rem(30);
  @include mq(){
    margin-top: rem(50);
  }
}

.blogs__category{
  display: inline-block;
  background-color: $dark-blue;
  color: $white;
  font-size: rem(13);
  line-height: 1;
  padding: rem(9) rem(12);
  @include mq(){
    font-size: rem(14);
    min-width: rem(156);
    padding: rem(9) rem(50);
    flex-shrink: 0;
  }
}

.blogs__text{
  display: inline-block;
  margin-top: rem(20);
  font-size: rem(16);
  line-height: calc(26/16);
  text-decoration: underline;
  @include mq(){
    font-size: rem(24);
    line-height: calc(26/24);
    margin-top: 0;
    margin-left: rem(20);
  }
}

.blogs__btn{
  margin-top: rem(40);
  text-align: center;
  @include mq(){
    margin-top: rem(50);
  }
}
