@use "global" as *;

.footer{
  background-color: $dark-blue;
}
.footer__inner{
  padding: rem(62) rem(12) rem(15);
}
.footer__lists{
  display: flex;
  flex-direction: column;
  text-align: center;
  @include mq(){
    flex-direction: row;
    justify-content: center;
  }
}
.footer__item{
  width: 100%;
  color: $white;
  font-size: rem(16);
  @include mq(){
    width: initial;
  }
}
.footer__item a{
  display: inline-block;
  width: inherit;
}
.footer__item:nth-child(n+2){
  margin-top: rem(20);
  @include mq(){
    margin-top: 0;
    margin-left: rem(37);
  }
}
.footer__logo{
  margin-top: rem(62);
  width: rem(180);
  margin-left: auto;
  margin-right: auto;
  @include mq(){
    width: rem(280);
  }
}
.footer__copyright{
  margin-top: rem(20);
  color: $white;
  text-align: center;
  font-size: rem(16);
}