@use "global" as *;

.header-spnav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($dark-blue, 0.85);
  padding-top: rem(140);
  opacity: 0;
  transform: translateX(100%);
  z-index: 2;
  transition: all 0.9s ease;
}

// 開いたとき
.header-spnav.active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 0.9s ease;
  overflow: scroll;
}

.header-spnav__lists {
  text-align: center;
}

.header-spnav__item {
  font-size: rem(24);
  color: $white;
  width: 100%;
}

.header-spnav__item a{
  display: inline-block;
  width: inherit;
}

.header-spnav__item:nth-child(n + 2) {
  margin-top: rem(20);
}
