@use "global" as *;

.header-fixed {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 rem(20);
}

.header-fixed__logo {
  width: rem(250);
  z-index: 2;
}

// バーガーボタン
.header-fixed__btn {
  width: rem(52);
  height: rem(31);
  position: relative;
  padding: 0;
  z-index: 3;
}

.header-fixed__btn span {
  position: absolute;
  width: 100%;
  height: rem(3);
  background-color: $white;
  display: block;
  transition: all 0.7s ease;
}

.header-fixed__btn span:first-child {
  top: 0;
}

.header-fixed__btn span:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.header-fixed__btn span:last-child {
  bottom: 0;
}

// バーガーボタンが開いたとき
.header-fixed__btn.open span {
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.7s ease;
}

.header-fixed__btn.open span:first-child {
  transform: rotate(135deg);
}

.header-fixed__btn.open span:nth-child(2) {
  transform: rotate(135deg);
}

.header-fixed__btn.open span:last-child {
  transform: rotate(-135deg);
}
